*{
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #444444;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: #444444;;
}

.container{
    max-width: 1160px;
    margin: 0 auto;
}

.header{
    background: rgba(246, 246, 246, 0.96);
    margin-bottom: 60px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.main-color{
 background-color: #F8F8F8;
}

.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logo, .footer-logo{
    max-width: 75px;
    max-height: 75px;
}

.logo-item, .footer-logo-img{
    width: 100%;
}

.menu-list{
    display: flex;
}

.menu-list-item{
    margin-right: 30px;
}

.menu-list-item:last-child{
    margin-right: 0;
}

.h-social-icon{
    margin-right: 15px;
}

.first{
    margin-bottom: 100px;
}

.first-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.button{
    padding: 15px 40px 15px 40px;
    font-size: 16px;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #000;
    transition: all 0.5s;
    border-radius: 10px;
}

.button:hover{
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
}

.first-button{
    background: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    text-shadow: none;
}

.first-button:hover{
    background: #000;

}

.panel-container {
    display: flex;
    overflow: hidden;
    margin: 20px 0;
    height: 450px;
}
.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    color: #fff;
    flex: 0.5;
    cursor: pointer;
    position: relative;
    margin: 0 3px;
    transition: flex 0.7s cubic-bezier(0.05, 0.6, 0.4, 0.9);
}
.panel div {
    text-shadow: 0 0 12px rgba(0,0,0,0.5), 0 2px 6px rgba(0,0,0,0.7);  
    font-family: 'Nunito Sans', sans-serif; 
    font-weight: bold;  
    font-size: 28px;
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 40px;
    margin: 0;
    transition: opacity 0s ease-in 0s;
}
.panel.active {
    flex: 5;
}
.panel.active div {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.restavr, .pokraska, .fasady{
    margin-bottom: 100px;
    position: relative;
}

.restavr-wrapper, .pokraska-wrapper, .fasady-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.restavr-banner, .pokraska-info, .fasady-banner{
    margin-right: 115px;
}

.restavr-img, .pokraska-img, .fasady-img{
    border-radius: 10px;
}

.restavr-title, .pokraska-title, .fasady-title{
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.restavr-text, .pokraska-text, .fasady-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 60px;
}

.restavr::before{
    content: "";
    display: inline-block;
    width: 800px;
    min-height: 195px;
    background-color: #F7F7F7;
    top: 105px;
    position: absolute;
    z-index: -1;
}

.pokraska::after{
    content: "";
    width: 800px;
    min-height: 195px;
    background-color: #D8EDF1;
    top: 120px;
    right: 0;
    position: absolute;
    z-index: -1;
}

.fasady::before{
    content: "";
    display: inline-block;
    width: 800px;
    min-height: 195px;
    background-color: #CCE7C0;
    top: 105px;
    position: absolute;
    z-index: -1;
}

.menu-wrap{
    background-color: transparent !important;
}

.main{
    padding-bottom: 100px;
}

.main-wrap{
    display: flex;
    justify-content: space-between;
}

.main-content{
    padding-top: 40px;
    margin-right: 151px;
}

.main-tilte{
    margin-bottom: 30px;
    font-size: 35px;
}

.main-text{
    font-size: 18px;
    margin-bottom: 52px;
}

.main-banner{
    max-width: 475px;
    max-height: 449px;
}

.banner-img{
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.problems{
    background: rgba(246, 246, 246, 0.96);
    margin-bottom: 100px;
}

.problems-wrap{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.problems-photo{
    max-width: 455px;
    max-height: 410px;
    margin-right: 115px;
}

.ploblems-banner{
    border-radius: 10px;
}

.problems-title{
    font-size: 30px;
    margin-bottom: 40px;
}

.probler-list-wrap{
    display: flex;
    justify-content: space-between;
}

.ploblem-lists{
    color: #888;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-right:25px;
}

.ploblem-lists:last-child{
    margin-right: 0;
}

.list-item-point{
    margin-bottom: 25px;
}


.htw{
    margin-bottom: 187px;
}

.htm-wrap{
    display: flex;
    justify-content: space-between;
}

.htw-content{
    margin-right: 115px;
}

.htm-title{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.point{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.point-icon{
    margin-right: 25px;
}

.htw-banner{
    max-width: 550px;
    max-height: 463px;
}

.htw-photo{
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.free{
    background-image: url(../img/free-form.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
}

.free-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.free-content{
    max-width: 550px;
}

.free-title{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    line-height: 38px;
}

.special-word{
    font-size: 40px;
}

.form-group-wrap{
    display: flex;
    margin-bottom: 30px;
}

.form-group{
    margin-right: 20px;
}

.free-input{
    width: 250px;
    padding: 15px;
    outline: none;
    border-radius: 10px;
}

.form-check{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.form-check-button{
    color: #000 !important;
    background-color: #fff !important;
    border: 1px solid #000 !important;
    border-radius: 10px ;
    transition: all .5s;
}

.form-check-button:hover{
    color: #fff !important;
    background-color: transparent !important;
    border: 1px solid #fff !important;
}

.form-check-label{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

.form-check-input{
    margin-right: 10px;
}

.btn{
    padding: 10px 20px 10px 20px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.5s;
    cursor: pointer;
}

.btn:hover{
    color: #000;
    background: #fff;
}

.steps{
    background-image: url(../img/step-banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.steps-kraska-color{
    background-image: url(../img/pokraska/kraska-steps.jpg);
}

.steps-wrap{
    padding-top: 70px;
    padding-bottom: 70px;
}

.steps-title{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;   
}

.step{
    display: flex;
    align-items: center;
    min-width: 430px;
}

.step-number{
    margin-right: 25px;
    font-size: 75px;
    font-weight: 300;
}

.step-text{
    font-size: 20px;
    font-weight: 400;
    color: #444444;
}

.step-inner p{
    margin-bottom: 10px;
    font-weight: 600;
}

.steps-top, .steps-bottom{
    display: flex;
    align-items: center;
}

.steps-top{
    margin-bottom: 90px;
}

.steps-bottom{
    margin-left: 180px;
    margin-bottom: 60px;
}

.steps-more{
    display: flex;
    justify-content: center;
}

.works{
    margin-bottom: 100px;
}

.works-title{
    font-weight: 400;
    font-size: 40px;
    line-height: 51px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    color: #222222;
}

.work-list-inner{
    padding: 35px 20px 35px 20px;
    background: #E8E8E8;
    margin-bottom: 55px;
}

.works-list-item{
    margin-right: 10px;
}

.inner-text{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #222222;
    margin-bottom: 20px;
}

.works-list-item:last-child{
    margin-right: 0;
}

.list-item-buttons.active{
    background-color: transparent;
    border: 6px solid #444444;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: transparent;
}

.nav-link{
    padding: 0;
}

.works-img{
    width: 100%;
    height: 100%;
}

.works-content-wrapper{
    display: flex;
    justify-content: space-between;
}

.works-content-left{
    width: 65%;
}

.works-content-right{
    width: 35%;
}

.inner-wrapper{
    display: flex;
    justify-content: space-around;
}

.tabs-content-button{
    margin-bottom: 16px;
}

.tabs-content-button:last-child{
    margin-bottom: 0;
}

.tabs-content-button::after{
    content: "";
    background-color: #444444;
    opacity: 0.5;
}

.right-content-text{
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-transform: uppercase;
    color: #222;
    margin-bottom: 15px;
}

.right-list-item{
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.right-list-item:last-child{
    margin-bottom: 30px;
}

.grey-text{
    color: #7e7c7c;
}

.right-bottom-content{
    background: #F6F6F6;
}

.bottom-content-inner{
    padding: 20px;
}

.feedback-name{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.feedback-img{
    margin-right: 20px;
}

.feedback-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.feedback-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #444444;
}

.cost{
    background-image: url(../img/cost-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 120px;
}

.cost-wrap {
    max-height: 475px;
    position: relative;
}

.cost-form{
    position: relative;
    top: -30px;
    left: 150px;
    max-width: 780px;
    background: #222222;
    border-radius: 10px;
}

.form-inner{
    padding: 110px;
}

.form-text{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    margin-bottom: 10px;
}

.form-title{
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
}

.label-wrap{
    display: flex;
    margin-bottom: 30px;
}

.form-block{
    max-width: 250px;
    padding: 15px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
    margin-right: 20px;
    border-radius: 0;
}

.cost-form-button{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    background: #fff;
    color: #000;
    border: 1px solid #000 !important;
    transition: all .5s;
    cursor: pointer;
}

.cost-form-button:hover{
    background: #000 !important;
    color: #fff !important;
    border: 1px solid #fff !important;
}


.recommended{
    margin-bottom: 130px;
}

.recommender-title{
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.recommended-inner{
    background: #F6F6F6;
    margin-bottom: 20px;
}

.recommended-inner-content{
    display: flex;
    padding: 30px;
    align-items: center;
}

.recommended-info-photo{
    margin-right: 40px;
}

.card-title{
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.card-list-inner{
    margin-bottom: 35px;
}

.card-list-description{
    margin-bottom: 15px;
}

.list-top{
    margin-bottom: 30px;
    margin-right: 15px;
}

.list-top-item, .list-bottom-item{
    margin-bottom: 25px;
}

.list-bottom{
    margin-bottom: 36px;
}

.map{
    margin-bottom: 130px;
}

.map-wrap{
    display: flex;
}

.map-content{
    margin-right: 60px;
}

.map-title{
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 58px;
    margin-bottom: 30px;
}

.map-text{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.map-phone{
    display: block;
    font-size: 25px;
    font-weight: 400;
    color: #888;
    margin-bottom: 10px;
}

.map-mail{
    display: block;
    font-size: 25px;
    font-weight: 400;
    color: #888;
    margin-bottom: 30px;
}

.social-block{
    display: flex;
    margin-bottom: 60px;
}

.social-icon{
    margin-right: 15px;
}

.map-bottom-text{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.map-frame{
    width: 515px;
    height: 515px;
    border-radius: 10px;
}

.adress-block{
    display: flex;
    align-items: center;
}

.adress-icon{
    margin-right: 20px;
}

.adress-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.footer{
    background-color: #F8F8F8;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.footer-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 45px;
}

.footer-list{
    display: flex;
}

.footer-list-item{
    margin-right: 10px;
    font-size: 16px;
    text-decoration: underline;
    color: #888;
}

.popup-link{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: underline;
    color: #222;
    background: transparent;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.modal-content{
    background-color: #222;
    color: #fff;
}

.modal-header{
    border: none;
}

.modal-form-title{
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    margin-bottom: 15px;
}

.modal-form-text{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.modal-form-block{
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
    margin-right: 20px;
    border-radius: 0;
}

.modal-form-check{
    display: flex;
}

.modal-form-button{
    display: block;
    border-radius: 0;
    margin: 0 auto;
}

.modal-form-button:hover{
    background-color: #fff;
    border: none;
    color: #000;
}

.btn-close{
    background-color: #fff;
}

.btn-check:active+.btn, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:active {
    background: none;
    color: #000;
    border: none;
}

.btn-check:focus+.btn, .btn:focus {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.btn:hover {
    color: #000;
    background-color: transparent;
    border: none;
}

.btn-check:active+.btn:focus, .btn-check:checked+.btn:focus, .btn.active:focus, .btn.show:focus, .btn:active:focus {
    box-shadow: none;
}

.btn{
    border: none;
}

.btn-primary{
    --bs-btn-color:#000;
    --bs-btn-hover-color:#000;
}

.kraska-color{
    background-color: #D8EDF1;
}

.k-list-inner{
    flex-wrap: wrap;
}

.k-list-top, .k-list-bottom{
    display: flex;
}

.k-item{
    min-width: 130px;
    margin-right: 75px;
    margin-bottom: 0;
}

.k-item:last-child{
    margin-right: 0;
}

@media (max-width:576px){

    .header{
        margin-bottom: 0;
    }

    .header-wrapper{
        flex-direction: row-reverse;
    }

    .logo{
        display: none;
    }

    .bg-light{
        display: none;
    }

    .social{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }

    .h-social-icon{
        margin-right: 15px;
    }

    .social-phone{
        margin-right: 20px;
    }

    .main-wrap{
        flex-direction: column;
    }

    .first{
        margin-bottom: 0;
    }

    .panel-container{
        text-align: center;
    }

    .panel div {
        text-shadow: 0 0 12px rgb(0 0 0 / 50%), 0 2px 6px rgb(0 0 0 / 70%);
        font-family: 'Nunito Sans', sans-serif;
        font-weight: bold;
        font-size: 28px;
        opacity: 0;
        position: absolute;
        bottom: 70px;
        left: 0;
        margin: 0;
        transition: opacity 0s ease-in 0s;
    }

    .first-title {
        font-size: 34px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .restavr, .pokraska, .fasady {
        margin-bottom: 50px;
        position: relative;
    }

    .restavr::before, .fasady::before{
        display: none;
    }

    .restavr-wrapper, .fasady-wrapper{
        flex-direction: column;
    }

    .restavr-banner, .pokraska-banner, .fasady-banner{
        margin-bottom: 25px;
        margin-right: 0;
    }

    .restavr-img, .pokraska-img, .fasady-img{
        width: 100%;
    }

    .restavr-info, .pokraska-info, .fasady-info{
        text-align: center;
        margin-right: 0;
    }

    .restavr-title, .pokraska-title, .fasady-title{
        font-size: 25px;
        margin-bottom: 25px;
    }

    .restavr-text, .pokraska-text, .fasady-text{
        margin-bottom: 40px;
    }

    .pokraska-wrapper{
        flex-direction: column-reverse;
    }

    .pokraska::after{
        display: none;
    }

    .main-content{
        text-align: center;
        margin-right: 0;
    }

    .main-tilte{
        font-size: 25px;
    }

    .main-button{
        margin-bottom: 30px;
    }

    .main-banner, .banner-img{
        width: 100%;
    }

    .problems{
        margin-bottom: 50px;
    }

    .problems-wrap{
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column-reverse;
    }

    .problems-title{
        font-size: 25px;
        margin-bottom: 30px;
        text-align: center;
    }

    .list-item{
        margin-bottom: 10px;
        text-align: center;
    }

    .list-item-point{
        margin-bottom: 10px;
    }

    .problems-photo{
        width: 100%;
    }

    .ploblems-banner{
        width: 100%;
    }

    .htw {
        margin-bottom: 50px;
    }

    .htm-wrap{
        flex-direction: column;
    }

    .htw-content{
        margin: 0;
    }

    .htm-title{
        font-size: 25px;
        margin-bottom: 30px;
        text-align: center;
    }

    .htw-points{
        text-align: center;
    }

    .point{
        margin-bottom: 30px;
        flex-direction: column;
    }

    .point-icon{
        margin-right: 0;
        margin-bottom: 30px;
    }

    .htw-banner, .htw-photo{
        width: 100%;
    }

    .free-wrap{
        padding-top: 50px;
        padding-bottom: 50px;
        flex-direction: column;
    }

    .free-content{
        width: 100%;
    }

    .free-title{
        font-size: 25px;
        text-align: center;
    }

    .form-group-wrap{
        flex-direction: column;
        margin-bottom: 0;
    }
    
    .form-group{
        margin-right: 0;
    }

    .free-input{
        width: 100%;
        margin-bottom: 30px;
    }

    .form-check-button{
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .steps-wrap {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }

    .steps-top, .steps-bottom{
        margin-bottom: 0;
        flex-direction: column;
    }

    .step{
        width: 100%;
        flex-direction: column;
        margin-bottom: 30px;
        min-width: 100% !important;
    }

    .step-number{
        margin-right: 0;
    }

    .steps-bottom {
        margin-left: 0;
    }

    .works{
        margin-bottom: 0;
    }

    .work-list-inner{
        padding: 0;
        margin-bottom: 0;
    }

    .works-list{
        display: flex;
        padding: 15px;
    }

    .works-content-wrapper{
        flex-direction: column-reverse;
    }

    .works-content-left, .works-content-right{
        width: 100%;
    }

    .right-content-text{
        font-size: 22px;
    }

    .right-list-item:last-child{
        margin-bottom: 20px;
    }
    
    .me-3{
        display: none;
    }

    .works-list-item{
        margin: 0 auto;
    }

    .tabs-main-inner{
        margin-bottom: 25px;
    }

    .tabs-main-img{
        width: 100%;
    }

    .cost{
        margin-bottom: 50px;
    }

    .cost-wrap{
        max-height: 100%;
        position: unset;
    }

    .cost-form {
        position: unset;
        top: 0;
        left: 0; 
        max-width: 100%;
        background: #222222;
        width: 100%;
    }

    .form-inner {
        padding: 20px;
    }

    .form-check-input{
        width: 2em;
    }

    .label-wrap{
        margin-bottom: 0;
        flex-direction: column;
    }

    .form-block{
        max-width: 100%;
    }

    .form-check{
        margin-bottom: 0;
        align-items: none;
        width: 100%;
    }

    .recommended {
        margin-bottom: 50px;
    }

    .recommender-title{
        font-size: 25px;
        text-align: center;
    }

    .recommended-inner-content{
        flex-direction: column;
    }

    .recommended-info-photo{
        margin-right: 0;
        margin-bottom: 30px;
    }

    .recommended-info-text{
        text-align: center;
        width: 100%;
    }

    .card-title{
        font-size: 25px;
        margin-bottom: 30px;
    }

    .card-list-inner{
        flex-direction: column;
    }

    .list-top, .list-bottom{
        margin-bottom: 0;
        margin-right: 0;
    }

    .list-top-item{
        margin-bottom: 30px;
    }

    .map{
        margin-bottom: 50px;
    }

    .map-wrap{
        flex-direction: column;
    }

    .map-content{
        margin-right: 0;
    }

    .map-title{
        text-align: center;
        font-size: 38px;
    }

    .map-text{
        font-size: 25px;
        text-align: center;
    }

    .map-phone, .map-mail{
        margin-bottom: 30px;
        text-align: center;
    }
    
    .map-frame{
        width: 100%;
        max-height: fit-content;
    }

    .social-block{
        justify-content: space-around;
    }

    .social-icon{
        margin-right: 0;
    }

    .map-bottom-text{
        text-align: center;
    }

    .adress-block{
        justify-content: center;
        margin-bottom: 30px;
    }

    .footer-logo{
        display: none;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
    }

    .footer-list-item{
        margin-bottom: 10px;
    }

    .popup-link{
        font-size: 20px;
    }
          
}

@media (max-width:480px){
    .panel-container {
        position: relative;
    }
    .panel {
        width: 10%;
        position: relative;
        height: 80px;
        top: 0;
        border: 4px solid #FFF;
        box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
        flex: 1;
    }
    .panel.active {
        flex: 1;
        width: 100%;
        position: absolute;
        height: 360px;
        left: 0;
        margin: 40px 0 0;
        z-index: -1;
        box-shadow: none;
    }
}
