*{
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

ul, ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.header{
    background-color: #3B3937;
}

.logo-link{
    margin-right: 15px;
    max-width: 100px;
    max-height: 100px;
}

.logo-img{
    width: 75%;
}

.menu-list-item{
    margin-right: 15px;
}

.menu-list-item:last-child{
    margin-right: 0;
}

.menu-list-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #fff;
    cursor: pointer;
}

.header-menu{
    margin: 0 auto;
}

.dropdown-menu{
    min-width: 16rem;
    background-color: #3B3937;
    border: 1px solid #FFD6A8;
}

.dropdown-menu[data-bs-popper] {
    left: 5px;
}

.dropdown-item{
    padding: 9px 5px;
    transition: all .5s;
    color: #fff;
}

.dropdown-item:hover{
    color: #FFD6A8;
    background-color: transparent;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
    transition: all .5s;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link:hover{
    color: #FFD6A8;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    transition: all .5s;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #FFD6A8;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #FFD6A8;
}

.header-button{
    color: #fff;
}

.button{
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    padding: 15px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 25%);
    background: #A9845C !important;
    border-radius: inherit;
    border: none;
    cursor: pointer;
    transition: all .5s;
}

.button:hover{
    background: #926341 !important;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff !important;
    background-color: #A9845C !important;
    border-color: #DADADA !important;
    box-shadow: none !important;
}

.attention-inner{
    padding-top: 20px;
    padding-bottom: 20px;
}

.attention-mark{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 25px;
}

.main{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 90px;
}

.fasad{
    background-image: url(../img/fasad/main-bg.jpg);
}

.restoration{
    background-image: url(../img/restoration/main-bg.jpg);
}

.shkaf{
    background-image: url(../img/shkaf/main-bg.jpg);
}

.kitchen, .pokraska {
    background-color: #000;
    color: #fff;
    overflow: hidden;
    position: relative;
    background-image: none
}
  /* VIDEO */
.video {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    width: 100%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.main-inner{
    padding-top: 150px;
    padding-bottom: 130px;
}

.main-content{
    text-align: center;
    max-width: 440px;
    margin: 0 auto;
    padding: 120px 45px;
    background: linear-gradient(0deg, rgba(198, 156, 109, 0.05), rgba(198, 156, 109, 0.05)), rgba(51, 51, 51, 0.5);
    backdrop-filter: blur(3.5px);
    border-radius: 50%;
}

.main-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.main-subtitle{
    font-weight: 700;
    font-size: 17px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #FFD6A8;
    margin-bottom: 15px;
}

.main-description{
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.main-button{
    cursor: pointer;
    border-radius: 0;
}

.modal-backdrop{
    position: relative;
}

.products{
    margin-bottom: 90px;
}

.products-title{
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 30px;
}

.products-slider{
    display: block;
}

.products-slider-mobile{
    display: none;
}

.slick-prew{
    position: absolute;
    top: 25%;
    left: -87px;
    background-image: url(../img/icons/left.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.slick-next{
    position: absolute;
    right: -55px;
    top: 25%;
    background-image: url(../img/icons/right.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.products-slider-arrow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.3));
    background-color: #fff;
    cursor: pointer;
    transition: all .3s;
}

.products-slider-arrow:hover{
    background-color: #FFD6A8;
}

.products-slider-item{
    margin-right: 40px;
    border-bottom: 1px solid #DADADA;
}

.cards-banner{
    margin-bottom: 40px;
}

.cards-img{
    width: 100%;
}

.cards-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 20px;
    color: #3B3937;
}

.cards-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    max-width: 565px;
    margin-bottom: 25px;
    color: #3B3937;
    min-height: 42px;
}

.cards-link{
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    text-align: right;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    display: block;
    color: #B14101;
    padding-right: 50px;
    padding-bottom: 20px;
    cursor: pointer;
    transition: all .5s;
}

.cards-link:hover{
    text-decoration: underline;
    color: #B14101;
}

.promo{
    margin-bottom: 90px;
}

.promo-inner{
    background-image: url(../img/main/promo-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.promo-content{
    display: flex;
    justify-content: space-between;
}

.promo-check{
    padding-top: 60px;
    padding-right: 75px;
    text-align: center;
    color: #fff;
}

.promo-title{
    font-weight: 800;
    font-size: 43px;
    line-height: 53px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.promo-message-text{
    font-weight: 600;
    font-size: 30px;
    line-height: 22px;
    margin-bottom: 15px;
    color: #FFCC29;
}

.promo-text{
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.promo-label{
    padding: 8px 60px;
    background-color: #FFCC28 !important;
    color: #000;
    text-transform: uppercase;
    border-radius: 15px;
    font-size: 18px;
    line-height: 24px;
    display: block;
    font-weight: 800;
    margin-bottom: 15px;
}

.countdown {
    color: #000;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}
   
.countdown-number {
  padding: 10px;
  border-radius: 3px;
  background: #FFCC28;
  display: inline-block;
}
 
.countdown-time {
  padding: 15px;
  border-radius: 3px;
  background: #FFCC28;
  display: inline-block;
}
 
.countdown-text {
  display: block;
  padding-top: 10px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.catalog{
    margin-bottom: 90px;
}

.catalog-title{
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 30px;
}

.catalog-tabs{
    margin-bottom: 40px !important;
    justify-content: space-between;
}

.catalog-tabs-item{
    width: 33%;
}

.catalog-tabs-button{
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    padding: 10px 55px;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    cursor: pointer;
}

.nav-pills .nav-link {
    background: transparent;
    border: 1px solid #DADADA;
    border-radius: 0;
    opacity: 0.9;
    color: #3B3937;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #3B3937;
    opacity: 1;
    background-color: transparent;
    border: 2px solid #3B3937;
}

.restoration-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.restoration-row:last-child{
    margin-bottom: 0;
}

.restoration-card{
    width: 33%;
    border: 1px solid #DADADA;
}

.restoration-card:last-child{
    margin-right: 0;
}

.restoration-card-inner{
    padding: 15px;
}

.restoration-card-link{
    display: block;
    padding: 0;
    margin-bottom: 20px;
    max-width: 382px;
    min-height: 400px;
}

.btn-primary{
    background-color: transparent;
    border: none;
}

.btn-primary:hover {
    background-color: transparent;
    border: none;
}

.restoration-card-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.restoration-card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;

}

.restoration-card-cost{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
}

.restoration-card-img{
    display: block;
    margin: 0 auto;
    width: 100%;
}

.restoration-button{
    text-align: right;
    display: block;
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #B14101;
    border: none;
    background-color: transparent;
    margin: auto;
}

.restoration-button:hover{
    text-decoration: underline;
    color: #B14101;
}

.order{
    margin-bottom: 100px;
}

.order-content{
    display: flex;
    align-items: center;
}

.order-info{
    background: #F3F0EE;
}

.form-inner{
    padding: 90px 70px;
}

.form-title{
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: -0.01em;
    margin-bottom: 30px;
}

.order-description{
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    margin-bottom: 60px;
}

.order-form-area{
    display: flex;
    justify-content: space-between;
}

.order-form-row{
    max-width: 240px;
    margin-right: 20px;
}

.order-form-row:last-child{
    margin-right: 0;
}

.order-form-input::placeholder{
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #3B3937;
    opacity: 0.5;
}

.order-form-input{
    padding: 22px 20px;
    border-radius: 0;
}

.order-form-button{
    padding: 20px 81px;
    width: 100%;
}

.blog{
    margin-bottom: 90px;
}

.blog-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.blog-title{
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.01em;
    color: #3B3937;
}

.top-row, .bottom-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.blog-item{
    margin-right: 40px;
    min-height: 453px;
}

.blog-item:last-child{
    margin-right: 0;
}

.item-banner-img{
    width: 100%;
}

.item-content{
    border: 1px solid #DADADA;
    border-top: none;
}

.item-content-wrapper{
    padding: 30px;
}

.item-title{
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.01em;
    margin-bottom: 15px;
    max-width: 340px;
}

.item-description{
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #3B3937;
    opacity: 0.6;
    margin-bottom: 18px;
    max-width: 340px;
    min-height: 136px;
}

.item-elements{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-link{
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: #B14101;
    text-decoration: underline;
}

.item-link:hover{
    text-decoration: none;
    color: #B14101;
}

.item-date{
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #3B3937;
    opacity: 0.6;
}

.download{
    margin-bottom: 90px;
    background-image: url(../img/main/download-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.download-inner{
    max-width: 890px;
    margin: 0 auto;
    padding: 75px 0;
    text-align: center;
}

.download-title{
    font-weight: 700;
    font-size: 43px;
    line-height: 57px;
    margin-bottom: 25px;
}

.download-description{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 45px;
}

.bold{
    font-weight: 800;
}

.download-form{
    max-width: 530px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.download-form-input{
    max-width: 350px;
}

.download-form-button{
    padding: 15px 30px;
}


.socila-icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.footer{
    background-color: #3B3937;
    color: #fff;
}

.footer-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 97px;
    padding-bottom: 97px;
}

.footer-logo{
    margin-bottom: 21px;
}

.footer-text{
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 6px;
}

.copyright{
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 10px;
}

.footer-phone{
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-bottom: 40px;
    display: block;
}

.metro{
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 17px;
}

.adress{
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    max-width: 245px;
    margin-bottom: 17px;
    color: #FFFFFF;
    opacity: 0.6;
}

.footer-mail{
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #FFFFFF;
    opacity: 0.6;
}

.footer-right{
    display: flex;
}

.left-list{
    margin-right: 100px;
}

.left-list-item, .right-list-item{
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
}

.left-list-link, .right-list-link{
    color: #FFFFFF;
    opacity: 0.6;
}

/* Страница "Статьи" */

.dots{
    padding-top: 20px;
}

.dots-inner{
    max-width: 325px;
    display: flex;
    align-items: center;
}

.dots-icon{
    margin-left: 18px;
    margin-right: 18px;
}

.dots-link{
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #B1B0AF;
    cursor: pointer;
}

.dots-link:hover{
    color: #B1B0AF; 
}

.blog-button{
    background-color: transparent;
    border: 1px solid rgba(68, 68, 68, 0.2);
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
}

.b-mobile{
    display: none;
}

.blog-button:hover{
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(68, 68, 68, 0.2);
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #212529;
    background-color: transparent;
    border-color: #DADADA;
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgb(100 103 108 / 50%);
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #212529;
    background-color: transparent;
    border-color: #DADADA;
    box-shadow: none;
}

/* Страница "Контакты" */

.contacts{
    margin-bottom: 90px;
}

.contacts-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.contacts-wrapper{
    margin-right: 40px;
}

.contacts-title{
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    margin-bottom: 32px;
}

.contacts-text{
    background-color: #F3F0EE;
    background-image: url(../img/box-bg.png);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: left top;
}

.contacts-text-inner{
    padding: 65px 70px;
}

.mini{
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 5px;
}

.contacts-bold{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    font-style: italic;
    margin-bottom: 38px;
}

.m-bot{
    margin-bottom: 10px;
}

.contacts-phone{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
    margin-bottom: 38px;
    display: block;
}

.gold{
    color: #B14101;
}

.contacts-map{
    border: 2px solid #dadada;
}

.contacts-box{
    background-color: #F3F0EE;
    background-image: url(../img/form-cent.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}

.corner-bg{
    background-image: url(../img/form-left.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: inherit;
}

.box-inner{
    display: flex;
    justify-content: space-between;
    padding: 80px 70px;
}

.box-info{
    margin-right: 132px;
}

.box-title{
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.01em;
    color: #3B3937;
    max-width: 345px;
    margin-bottom: 25px;
}

.box-description{
    max-width: 345px;
    font-style: italic;
    font-weight: 700;
    font-size: 22px;
    line-height: 31px;
}

.box-form-input{
    padding: 23px;
}

.box-row-top{
    margin-bottom: 20px;
}

.box-form-row{
    margin-bottom: 30px;
}

.box-form-area{
    min-height: 150px;
}

.box-form-button{
    padding: 20px 53px;
}

/* Страница "Каталог" */

.catalog-top-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.catalog-card{
    border: 1px solid #dadada;
    min-width: 400px;
    min-height: 300px;
    max-height: 300px;
    margin-right: 40px;
}

.catalog-card:last-child{
    margin-right: 0;
}


.catalog-card-inner{
    padding: 40px 30px;
}

.catalog-card-title{
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    max-width: 235px;
    min-height: 50px;
    margin-bottom: 145px;
    letter-spacing: -0.02em;
    color: #FFFFFF;

}

.catalog-icon{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: center center;
    cursor: pointer;
    transition: all .5s;
}

.catalog-icon:hover{
    background-color: #FFD6A8;
}

.catalog-link{
    width: 100%;
    height: 100%;
    display: block;
}

.catalog-bottom-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-card{
    border: 1px solid #dadada;
    min-width: 620px;
    min-height: 300px;
    max-height: 300px;
    margin-right: 40px;
}

.bottom-card:last-child{
    margin-right: 0;
}

.door{
    background-image: url(../img/catalog/catalog-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.mebl{
    background-image: url(../img/catalog/catalog-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.wpanel{
    background-image: url(../img/catalog/catalog-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;  
}

.lestn{
    background-image: url(../img/catalog/catalog-4.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;  
}

.fasads{
    background-image: url(../img/catalog/catalog-5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
}

.fixedbut { 
    position: fixed;
    top: 300px;
    left: 40px;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.3));
    cursor: pointer;
    transition: all .5s;
}

.fixedbut:hover { 
    background: #926341;
}

.fixedbut-text{
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 17px;
    margin-top: 5px;
    width: 100px;
    height: 100px;;
}

.radiowave .btn-data {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;   
}

.radiowave .wave {
    border-radius: 50%;
    border: 4px solid #926341;
    position: absolute;
    animation: radio 4s linear infinite;
    z-index: -1;
    pointer-events: none;
}
.radiowave .wave:nth-of-type(2) {
    animation-delay: 1s;
}
.radiowave .wave:nth-of-type(3) {
    animation-delay: 2s;
}
.radiowave .wave:nth-of-type(4) {
    animation-delay: 3s;
}
.radiowave:hover .wave {
    animation-play-state: paused;
}
@keyframes radio {
    0% {
        width: 0;
        height: 0;
    }
    30% { 
        opacity: 0.8;
    }
    80% { 
        opacity: 0.6;
    }
    100% {
        width: 10vw;
        height: 10vw;
        opacity: 0;
    }
}

@media (max-width: 480px) {
    
    .header-checker{
        margin-left: auto;
        background-color: transparent;
    }

    .navbar-toggler{
        padding: 0;
        border-radius: 0;
    }

    .navbar-toggler:focus{
        box-shadow: none;
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url(../img/icons/burger-bar.png);
    }

    .header-navigator{
        text-align: right;
        padding-top: 10px;
    }

    .logo-link{
        display: none;
    }

    .menu-list-item{
        margin-right: 0;
    }

    .attention{
        display: none;
    }

    .main{
        margin-bottom: 30px;
    }

    .dots{
        display: none;
    }

    .main-content{
        padding: 50px 5px;
    }

    .main-title{
        font-size: 20px;
        max-width: 200px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .main-subtitle{
        font-size: 14px;
    }

    .main-description{
        font-size: 15px;
        margin: 0 auto;
        margin-bottom: 15px;
        max-width: 200px;
    }

    .products{
        margin-bottom: 30px;
    }

    .products-card{
        min-height: 385px;
    }

    .products-title{
        font-size: 34px;
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
    }

    .products-slider-item{
        margin-right: 0;
    }

    .cards-banner{
        margin-bottom: 10px;
    }

    .cards-content{
        text-align: center;
    }

    .cards-link{
        padding-right: 0;
        text-align: center;
    }

    .promo{
        margin-bottom: 30px;
    }

    .promo-content{
        flex-direction: column;
    }

    .promo-banner{
        display: none;
    }

    .promo-check{
        padding: 30px 0;
    }

    .promo-title{
        font-size: 34px;
    }

    .promo-message-text{
        font-size: 24px;
    }

    .promo-text{
        font-size: 28px;
    }

    .promo-label{
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .countdown-number{
        padding: 10px 5px;
    }

    .countdown-time{
        padding: 5px;
    }

    .countdown-text{
        font-size: 18px;
    }

    .quiz{
        margin-bottom: 30px;
    }

    .catalog{
        margin-bottom: 30px;
    }

    .catalog-title{
        font-size: 34px;
        margin-bottom: 30px;
        text-align: center;
        line-height: 37px;
    }

    .catalog-tabs{
        margin-bottom: 30px !important;
    }

    .catalog-tabs-item{
        width: 100%;
    }

    .restoration-row{
        margin-bottom: 0;
        flex-direction: column;
    }

    .restoration-card{
        width: 100%;
        margin-bottom: 15px;
    }

    .restoration-card-top{
        margin-bottom: 15px;
    }

    .restoration-card-title, .restoration-card-cost{
        font-size: 16px;
    }

    .restoration-card-link{
        min-height: fit-content;
        margin-bottom: 15px;
    }
    
    .order{
        margin-bottom: 30px;
    }

    .order-banner{
        display: none;
    }

    .form-inner{
        padding: 15px;
    }

    .form-title{
        font-size: 34px;
        line-height: 37px;
        margin-bottom: 15px;
        text-align: center;
    }

    .order-description{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 15px;
        text-align: center;
    }

    .order-form-area{
        display: block;
    }

    .order-form-row{
        max-width: 100%;
        margin-right: 0;
    }

    .order-form-input{
        padding: 10px;
    }

    .order-form-button{
        padding: 15px 50px;
    }

    .blog{
        margin-bottom: 30px;
    }

    .blog-info{
        display: block;
        margin-bottom: 15px;
    }

    .blog-title{
        font-size: 34px;
        text-align: center;
    }

    .blog-button{
        display: none;
    }
    
    .b-mobile{
        display: block;
        text-align: center;
        padding: 10px 0px; 
    }

    .top-row, .bottom-row{
        margin-bottom: 0;
        flex-direction: column;
    }

    .blog-item{
        margin-right: 0;
        min-height: 263px;
        width: 100%;
        margin-bottom: 15px;
    }

    .item-content-wrapper{
        padding: 15px;
    }

    .download{
        margin-bottom: 30px;
    }

    .download-inner{
        max-width: 100%;
        width: 100%;
    }

    .download-title{
        font-size: 34px;
        line-height: 37px;
        margin-bottom: 25px;
        text-align: center;
    }

    .download-description{
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }

    .download-form{
        display: block;
    }

    .download-form-input{
        max-width: 250px;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .download-form-button{
        padding: 10px 44px;
    }

    .footer-inner{
        display: block;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .footer-left, .footer-center{
        text-align: center;
        margin-bottom: 15px;
    }

    .footer-text, .copyright{
        margin-bottom: 15px;
    }

    .footer-phone{
        margin-bottom: 15px;
    }

    .adress{
        max-width: 100%;
    }

    .footer-right{
        display: block;
        text-align: center;
    }

    .left-list{
        margin-right: 0;
    }
  
    .about-title{
      font-size: 40px;
    }

    .fixedbut{
        top: 55px;
        left: -15px;
    }

    .fixedbut-text{
        width: 60px;
        height: 60px;
        font-size: 10px;
        padding: 7px;
    }

  }

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
        
    .header-checker{
        margin-left: auto;
        background-color: transparent;
    }

    .navbar-toggler{
        padding: 0;
        border-radius: 0;
    }

    .navbar-toggler:focus{
        box-shadow: none;
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url(../img/icons/burger-bar.png);
    }

    .header-navigator{
        text-align: right;
        padding-top: 10px;
    }

    .logo-link{
        display: none;
    }

    .menu-list-item{
        margin-right: 0;
    }

    .attention{
        display: none;
    }

    .main{
        margin-bottom: 30px;
    }

    .dots{
        display: none;
    }

    .main-content{
        padding: 50px 5px;
    }

    .main-title{
        font-size: 20px;
        max-width: 200px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .main-subtitle{
        font-size: 14px;
    }

    .main-description{
        font-size: 15px;
        margin: 0 auto;
        margin-bottom: 15px;
        max-width: 200px;
    }

    .products{
        margin-bottom: 30px;
    }

    .products-card{
        min-height: 385px;
    }

    .products-title{
        font-size: 34px;
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
    }

    .products-slider-item{
        margin-right: 0;
    }

    .cards-banner{
        margin-bottom: 10px;
    }

    .cards-content{
        text-align: center;
    }

    .cards-link{
        padding-right: 0;
        text-align: center;
    }

    .promo{
        margin-bottom: 30px;
    }

    .promo-content{
        flex-direction: column;
    }

    .promo-banner{
        display: none;
    }

    .promo-check{
        padding: 30px 0;
    }

    .promo-title{
        font-size: 34px;
    }

    .promo-message-text{
        font-size: 24px;
    }

    .promo-text{
        font-size: 28px;
    }

    .promo-label{
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .countdown-number{
        padding: 10px 5px;
    }

    .countdown-time{
        padding: 5px;
    }

    .countdown-text{
        font-size: 18px;
    }

    .quiz{
        margin-bottom: 30px;
    }

    .catalog{
        margin-bottom: 30px;
    }

    .catalog-title{
        font-size: 34px;
        margin-bottom: 30px;
        text-align: center;
        line-height: 37px;
    }

    .catalog-tabs{
        margin-bottom: 30px !important;
    }

    .catalog-tabs-item{
        width: 100%;
    }

    .restoration-row{
        margin-bottom: 0;
        flex-direction: column;
    }

    .restoration-card{
        width: 100%;
        margin-bottom: 15px;
    }

    .restoration-card-top{
        margin-bottom: 15px;
    }

    .restoration-card-title, .restoration-card-cost{
        font-size: 16px;
    }

    .restoration-card-link{
        min-height: fit-content;
        margin-bottom: 15px;
        max-width: 100%;
    }
    
    .order{
        margin-bottom: 30px;
    }

    .order-banner{
        display: none;
    }

    .form-inner{
        padding: 15px;
    }

    .form-title{
        font-size: 34px;
        line-height: 37px;
        margin-bottom: 15px;
        text-align: center;
    }

    .order-description{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 15px;
        text-align: center;
    }

    .order-form-area{
        display: block;
    }

    .order-form-row{
        max-width: 100%;
        margin-right: 0;
    }

    .order-form-input{
        padding: 10px;
    }

    .order-form-button{
        padding: 15px 50px;
    }

    .blog{
        margin-bottom: 30px;
    }

    .blog-info{
        display: block;
        margin-bottom: 15px;
    }

    .blog-title{
        font-size: 34px;
        text-align: center;
    }

    .blog-button{
        display: none;
    }
    
    .b-mobile{
        display: block;
        text-align: center;
        padding: 10px 0px; 
    }

    .top-row, .bottom-row{
        margin-bottom: 0;
        flex-direction: column;
    }

    .blog-item{
        margin-right: 0;
        min-height: 263px;
        width: 100%;
        margin-bottom: 15px;
    }

    .item-content-wrapper{
        padding: 15px;
    }

    .download{
        margin-bottom: 30px;
    }

    .download-inner{
        max-width: 100%;
        width: 100%;
    }

    .download-title{
        font-size: 34px;
        line-height: 37px;
        margin-bottom: 25px;
        text-align: center;
    }

    .download-description{
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }

    .download-form{
        display: block;
    }

    .download-form-input{
        max-width: 250px;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .download-form-button{
        padding: 10px 44px;
    }

    .footer-inner{
        display: block;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .footer-left, .footer-center{
        text-align: center;
        margin-bottom: 15px;
    }

    .footer-text, .copyright{
        margin-bottom: 15px;
    }

    .footer-phone{
        margin-bottom: 15px;
    }

    .adress{
        max-width: 100%;
    }

    .footer-right{
        display: block;
        text-align: center;
    }

    .left-list{
        margin-right: 0;
    }
  
    .about-title{
      font-size: 40px;
    }

    .fixedbut{
        top: 55px;
        left: -15px;
    }

    .fixedbut-text{
        width: 60px;
        height: 60px;
        font-size: 10px;
        padding: 7px;
    }
}




/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

    .header-checker{
        margin-left: auto;
        background-color: transparent;
    }

    .navbar-toggler{
        padding: 0;
        border-radius: 0;
    }

    .navbar-toggler:focus{
        box-shadow: none;
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url(../img/icons/burger-bar.png);
    }

    .header-navigator{
        text-align: right;
        padding-top: 10px;
    }

    .logo-link{
        display: none;
    }

    .menu-list-item{
        margin-right: 0;
    }

    .attention{
        display: none;
    }

    .main{
        margin-bottom: 30px;
    }

    .dots{
        display: none;
    }

    .main-content{
        padding: 90px 5px;
    }

    .main-title{
        font-size: 20px;
        max-width: 200px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .main-subtitle{
        font-size: 14px;
    }

    .main-description{
        font-size: 15px;
        margin: 0 auto;
        margin-bottom: 15px;
        max-width: 200px;
    }

    .products{
        margin-bottom: 30px;
    }

    .products-card{
        min-height: 385px;
    }

    .products-title{
        font-size: 34px;
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
    }

    .products-slider-item{
        margin-right: 0;
    }

    .cards-banner{
        margin-bottom: 10px;
    }

    .cards-content{
        text-align: center;
    }

    .cards-description{
        max-width: 100%;
    }

    .cards-link{
        padding-right: 0;
        text-align: center;
    }

    .promo{
        margin-bottom: 30px;
    }

    .promo-content{
        flex-direction: column;
    }

    .promo-banner{
        display: none;
    }

    .promo-check{
        padding: 30px 0;
    }

    .promo-title{
        font-size: 34px;
    }

    .promo-message-text{
        font-size: 24px;
    }

    .promo-text{
        font-size: 28px;
    }

    .promo-label{
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .countdown-number{
        padding: 10px 5px;
    }

    .countdown-time{
        padding: 5px;
    }

    .countdown-text{
        font-size: 18px;
    }

    .quiz{
        margin-bottom: 30px;
    }

    .catalog{
        margin-bottom: 30px;
    }

    .catalog-title{
        font-size: 34px;
        margin-bottom: 30px;
        text-align: center;
        line-height: 37px;
    }

    .catalog-tabs{
        margin-bottom: 30px !important;
    }

    .catalog-tabs-item{
        width: 100%;
    }

    .restoration-row{
        margin-bottom: 0;
        flex-direction: column;
    }

    .restoration-card{
        width: 100%;
        margin-bottom: 15px;
    }

    .restoration-card-top{
        margin-bottom: 15px;
    }

    .restoration-card-title, .restoration-card-cost{
        font-size: 16px;
    }

    .restoration-card-link{
        min-height: fit-content;
        margin-bottom: 15px;
        max-width: 100%;
    }
    
    .order{
        margin-bottom: 30px;
    }

    .order-banner{
        display: none;
    }
    
    .order-info{
        width: 100%;
    }

    .form-inner{
        padding: 15px;
    }

    .form-title{
        font-size: 34px;
        line-height: 37px;
        margin-bottom: 15px;
        text-align: center;
    }

    .order-description{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 15px;
        text-align: center;
    }

    .order-form-area{
        display: block;
    }

    .order-form-row{
        max-width: 100%;
        margin-right: 0;
    }

    .order-form-input{
        padding: 10px;
    }

    .order-form-button{
        padding: 15px 50px;
    }

    .blog{
        margin-bottom: 30px;
    }

    .blog-info{
        display: block;
        margin-bottom: 15px;
    }

    .blog-title{
        font-size: 34px;
        text-align: center;
    }

    .blog-button{
        display: none;
    }
    
    .b-mobile{
        display: block;
        text-align: center;
        padding: 10px 0px; 
    }

    .top-row, .bottom-row{
        margin-bottom: 0;
        flex-direction: column;
    }

    .blog-item{
        margin-right: 0;
        min-height: 263px;
        width: 100%;
        margin-bottom: 15px;
    }

    .item-content-wrapper{
        padding: 15px;
    }

    .item-title{
        max-width: 100%;
    }

    .item-description{
        max-width: 100%;
        min-height: 75px;
    }

    .download{
        margin-bottom: 30px;
    }

    .download-inner{
        max-width: 100%;
        width: 100%;
    }

    .download-title{
        font-size: 34px;
        line-height: 37px;
        margin-bottom: 25px;
        text-align: center;
    }

    .download-description{
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }

    .download-form{
        display: flex;
        align-items: baseline;
    }

    .download-form-input{
        max-width: 325px;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .download-form-button{
        padding: 8px 44px;
    }

    .footer-inner{
        display: block;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .footer-left, .footer-center{
        text-align: center;
        margin-bottom: 15px;
    }

    .footer-text, .copyright{
        margin-bottom: 15px;
    }

    .footer-phone{
        margin-bottom: 15px;
    }

    .adress{
        max-width: 100%;
    }

    .footer-right{
        display: block;
        text-align: center;
    }

    .left-list{
        margin-right: 0;
    }
  
    .about-title{
      font-size: 40px;
    }

    .fixedbut{
        top: 55px;
        left: -15px;
    }

    .fixedbut-text{
        width: 60px;
        height: 60px;
        font-size: 10px;
        padding: 7px;
    }


 
    .about {
        background: url(../img/kitchen/mobile-g.jpg)
          0 top no-repeat #0e438b;
        -webkit-background-size: cover;
        background-size: cover;
      }

      .video {
        display: none;
      }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    
    .header-checker{
        margin-left: auto;
        background-color: transparent;
    }

    .navbar-toggler{
        padding: 0;
        border-radius: 0;
    }

    .navbar-toggler:focus{
        box-shadow: none;
    }

    .navbar-light .navbar-toggler-icon {
        background-image: url(../img/icons/burger-bar.png);
    }

    .header-navigator{
        text-align: right;
        padding-top: 10px;
    }

    .logo-link{
        display: none;
    }

    .menu-list-item{
        margin-right: 0;
    }

    .attention{
        display: none;
    }

    .main{
        margin-bottom: 30px;
    }

    .dots{
        display: none;
    }

    .main-content{
        padding: 115px 5px;
    }

    .main-title{
        font-size: 20px;
        max-width: 350px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .main-subtitle{
        font-size: 14px;
    }

    .main-description{
        font-size: 15px;
        margin: 0 auto;
        margin-bottom: 15px;
        max-width: 300px;
    }

    .products{
        margin-bottom: 30px;
    }

    .products-slider{
        margin-bottom: 35px;
    }

    .slick-prew{
        top: 100%;
        left: 44%;
    }

    .slick-next{
        top: 100%;
        right: 45%;
    }

    .products-card{
        min-height: 385px;
    }

    .products-title{
        font-size: 64px;
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
    }

    .products-slider-item{
        margin-right: 40px;
    }

    .cards-banner{
        margin-bottom: 10px;
    }

    .cards-content{
        text-align: left;
    }

    .cards-description{
        max-width: 100%;
    }

    .cards-link{
        padding-right: 0;
        text-align: left;
    }

    .promo{
        margin-bottom: 30px;
    }

    .promo-content{
        flex-direction: column;
    }

    .promo-banner{
        display: none;
    }

    .promo-check{
        padding: 30px 0;
    }

    .promo-title{
        font-size: 34px;
    }

    .promo-message-text{
        font-size: 24px;
    }

    .promo-text{
        font-size: 28px;
    }

    .promo-label{
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .countdown-number{
        padding: 10px 5px;
    }

    .countdown-time{
        padding: 5px;
    }

    .countdown-text{
        font-size: 18px;
    }

    .quiz{
        margin-bottom: 30px;
    }

    .catalog{
        margin-bottom: 30px;
    }

    .catalog-title{
        font-size: 34px;
        margin-bottom: 30px;
        text-align: center;
        line-height: 37px;
    }

    .catalog-tabs{
        margin-bottom: 30px !important;
    }

    .catalog-tabs-item{
        width: 33%;
    }

    .restoration-row{
        margin-bottom: 0;
        flex-direction: row;
    }

    .restoration-card{
        width: 33%;
        margin-bottom: 15px;
    }

    .restoration-card-top{
        margin-bottom: 15px;
    }

    .restoration-card-title, .restoration-card-cost{
        font-size: 16px;
    }

    .restoration-card-link{
        min-height: fit-content;
        margin-bottom: 15px;
        max-width: 100%;
    }
    
    .order{
        margin-bottom: 30px;
    }

    .order-content{
        flex-direction: row-reverse;
        background: #F3F0EE;
        align-items: center;
    }

    .order-banner{
        display: block;
        width: 50%;
    }
    
    .order-info{
        width: 50%;
    }

    .order-img{
        width: 100%;
    }

    .form-inner{
        padding: 15px;
    }

    .form-title{
        font-size: 50px;
        line-height: 55px;
        margin-bottom: 25px;
        text-align: left;
    }

    .order-description{
        font-size: 24px;
        line-height: 27px;
        margin-bottom: 55px;
        text-align: left;
    }

    .order-form-area{
        display: block;
    }

    .order-form-row{
        max-width: 100%;
        margin-right: 0;
    }

    .order-form-input{
        padding: 10px;
    }

    .order-form-button{
        padding: 15px 50px;
    }

    .blog{
        margin-bottom: 30px;
    }

    .blog-info{
        display: flex;
        margin-bottom: 30px;
    }

    .blog-title{
        font-size: 34px;
        text-align: center;
    }

    .blog-button{
        display: inline-block;
    }
    
    .b-mobile{
        display: none;
        text-align: center;
        padding: 10px 0px; 
    }

    .top-row, .bottom-row{
        margin-bottom: 0;
        flex-direction: inherit;
    }

    .blog-item{
        margin-right: 0;
        min-height: 100%;
        width: 33%;
        margin-bottom: 15px;
    }

    .item-content-wrapper{
        padding: 15px;
    }

    .item-title{
        max-width: 100%;
        min-height: 69px;
    }

    .item-description{
        max-width: 100%;
        min-height: 136px;
    }

    .download{
        margin-bottom: 30px;
    }

    .download-inner{
        max-width: 100%;
        width: 100%;
    }

    .download-title{
        font-size: 34px;
        line-height: 37px;
        margin-bottom: 25px;
        text-align: center;
    }

    .download-description{
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }

    .download-form{
        display: flex;
        align-items: baseline;
    }

    .download-form-input{
        max-width: 325px;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .download-form-button{
        padding: 8px 44px;
    }

    .footer-inner{
        display: flex;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .footer-left, .footer-center{
        text-align: center;
        margin-bottom: 15px;
    }

    .footer-text, .copyright{
        margin-bottom: 15px;
    }

    .footer-phone{
        margin-bottom: 15px;
    }

    .adress{
        max-width: 100%;
    }

    .footer-right{
        display: flex;
        text-align: left;
    }

    .left-list{
        margin-right: 15px;
    }
  
    .about-title{
      font-size: 40px;
    }

    .fixedbut{
        top: 55px;
        left: -15px;
    }

    .fixedbut-text{
        width: 60px;
        height: 60px;
        font-size: 10px;
        padding: 7px;
    }


 
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .slick-prew{
        top: 101%;
        left: 45%;
    }

    .slick-next{
        right: 46%;
        top: 101%;
    }

    .promo-banner{
        width: 50%;
    }

    .promo-check{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    .slick-prew{
        top: 101%;
        left: 45%;
    }

    .slick-next{
        right: 46%;
        top: 101%;
    }

    .promo-banner{
        width: 50%;
    }

    .promo-stick{
        margin-left: -13px;
        margin-bottom: -3px;
    }
}

/* // XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */







