*{
    box-sizing: border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #444444;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: #444444;;
}

.container{
    max-width: 992px;
    margin: 0 auto;
}

.header{
    background: rgba(246, 246, 246, 0.96);
    margin-bottom: 125px;
}

.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}

.logo, .footer-logo{
    max-width: 75px;
    max-height: 75px;
}

.logo-item, .footer-logo-img{
    width: 100%;
}

.menu-list{
    display: flex;
}

.menu-list-item{
    margin-right: 30px;
}

.menu-list-item:last-child{
    margin-right: 0;
}

.h-social-icon{
    margin-right: 15px;
}

.menu-wrap{
    background-color: transparent !important;
}

.main{
    padding-bottom: 100px;
}

.main-wrap{
    display: flex;
    justify-content: space-between;
}

.main-content{
    padding-top: 40px;
    margin-right: 151px;
}

.main-tilte{
    margin-bottom: 30px;
    font-size: 35px;
}

.main-text{
    font-size: 18px;
    margin-bottom: 52px;
}

.button{
    padding: 15px 40px 15px 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.main-button{
    background: transparent;
    border: 1px solid #000;
    transition: all 0.5s;
}

.main-button:hover{
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
}

.main-banner{
    max-width: 475px;
    max-height: 449px;
}

.problems{
    background: rgba(246, 246, 246, 0.96);
    margin-bottom: 100px;
}

.problems-wrap{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.problems-photo{
    max-width: 455px;
    max-height: 410px;
    margin-right: 115px;
}

.problems-title{
    font-size: 30px;
    margin-bottom: 40px;
}

.ploblem-lists{
    color: #888;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.htw{
    margin-bottom: 187px;
}

.htm-wrap{
    display: flex;
    justify-content: space-between;
}

.htw-content{
    margin-right: 115px;
}

.htm-title{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
}

.point{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.point-icon{
    margin-right: 25px;
}

.htw-banner{
    max-width: 550px;
    max-height: 463px;
}

.free{
    background-image: url(../img/free-form.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
}

.free-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.free-content{
    max-width: 550px;
}

.free-title{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;
    line-height: 38px;
}

.special-word{
    font-size: 40px;
}

.form-group-wrap{
    display: flex;
    margin-bottom: 30px;
}

.form-group{
    margin-right: 20px;
}

.free-input{
    width: 250px;
    padding: 15px;
    outline: none;
    border-radius: 0;
}

.form-check{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.form-check-label{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

.form-check-input{
    margin-right: 10px;
}

.form-check-button{
    border-radius: 0;
}

.btn{
    padding: 10px 20px 10px 20px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.5s;
    cursor: pointer;
}

.btn:hover{
    color: #000;
    background: #fff;
}

.steps{
    background-image: url(../img/step-banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.steps-wrap{
    padding-top: 70px;
    padding-bottom: 70px;
}

.step{
    display: flex;
    align-items: center;
    min-width: 430px;
}

.step-number{
    margin-right: 25px;
    font-size: 75px;
    font-weight: 300;
}

.step-text{
    font-size: 20px;
    font-weight: 400;
    color: #444444;
}

.steps-top, .steps-bottom{
    display: flex;
    align-items: center;
}

.steps-top{
    margin-bottom: 90px;
}

.steps-bottom{
    margin-left: 180px;
}

.cost{
    background-image: url(../img/cost-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 120px;
}

.cost-wrap {
    max-height: 475px;
    position: relative;
}

.cost-form{
    position: relative;
    top: -13px;
    left: 85px;
    max-width: 780px;
    background: #222222;
}

.form-inner{
    padding: 110px;
}

.form-text{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.25);
    margin-bottom: 10px;
}

.form-title{
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
}

.label-wrap{
    display: flex;
    margin-bottom: 30px;
}

.form-block{
    max-width: 250px;
    padding: 15px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
    margin-right: 20px;
    border-radius: 0;
}

.cost-form-button{
    display: block;
    margin: 0 auto;
    border-radius: 0;
}

.recommended{
    margin-bottom: 130px;
}

.recommender-title{
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.recommended-inner{
    background: #F6F6F6;
    margin-bottom: 20px;
}

.recommended-inner-content{
    display: flex;
    padding: 30px;
    align-items: center;
}

.recommended-info-photo{
    margin-right: 40px;
}

.card-title{
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.card-list-inner{
    display: flex;
}

.list-top{
    margin-bottom: 30px;
    margin-right: 15px;
}

.list-top-item, .list-bottom-item{
    margin-bottom: 25px;
}

.list-bottom{
    margin-bottom: 36px;
}

.map{
    margin-bottom: 130px;
}

.map-wrap{
    display: flex;
}

.map-content{
    margin-right: 60px;
}

.map-title{
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 58px;
    margin-bottom: 30px;
}

.map-text{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.map-phone{
    display: block;
    font-size: 25px;
    font-weight: 400;
    color: #888;
    margin-bottom: 10px;
}

.map-mail{
    display: block;
    font-size: 25px;
    font-weight: 400;
    color: #888;
    margin-bottom: 30px;
}

.social-block{
    display: flex;
    margin-bottom: 60px;
}

.social-icon{
    margin-right: 15px;
}

.map-bottom-text{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.map-frame{
    width: 515px;
    height: 515px;
}

.adress-block{
    display: flex;
    align-items: center;
}

.adress-icon{
    margin-right: 20px;
}

.adress-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.footer{
    background-color: #F8F8F8;
}

.footer-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 45px;
}

.footer-list{
    display: flex;
}

.footer-list-item{
    margin-right: 10px;
    font-size: 16px;
    text-decoration: underline;
    color: #888;
}

.popup-link{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: underline;
    color: #222;
    background: transparent;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.modal-content{
    background-color: #222;
    color: #fff;
}

.modal-header{
    border: none;
}

.modal-form-title{
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    margin-bottom: 15px;
}

.modal-form-text{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.modal-form-block{
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
    margin-right: 20px;
    border-radius: 0;
}

.modal-form-check{
    display: flex;
}

.modal-form-button{
    display: block;
    border-radius: 0;
    margin: 0 auto;
}

.modal-form-button:hover{
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
}

@media (max-width:576px){

    .header{
        margin-bottom: 0;
    }

    .header-wrapper{
        flex-direction: row-reverse;
    }

    .logo{
        display: none;
    }

    .bg-light{
        display: none;
    }

    .social{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
    }

    .h-social-icon{
        margin-right: 15px;
    }

    .social-phone{
        margin-right: 20px;
    }

    .main-wrap{
        flex-direction: column;
    }

    .main-content{
        text-align: center;
        margin-right: 0;
    }

    .main-tilte{
        font-size: 25px;
    }

    .main-button{
        margin-bottom: 30px;
    }

    .main-banner, .banner-img{
        width: 100%;
    }

    .problems{
        margin-bottom: 50px;
    }

    .problems-wrap{
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column-reverse;
    }

    .problems-title{
        font-size: 25px;
        margin-bottom: 30px;
        text-align: center;
    }

    .list-item{
        margin-bottom: 10px;
        text-align: center;
    }

    .list-item-point{
        margin-bottom: 10px;
    }

    .problems-photo{
        width: 100%;
    }

    .ploblems-banner{
        width: 100%;
    }

    .htw {
        margin-bottom: 50px;
    }

    .htm-wrap{
        flex-direction: column;
    }

    .htw-content{
        margin: 0;
    }

    .htm-title{
        font-size: 25px;
        margin-bottom: 30px;
        text-align: center;
    }

    .htw-points{
        text-align: center;
    }

    .point{
        margin-bottom: 30px;
        flex-direction: column;
    }

    .point-icon{
        margin-right: 0;
        margin-bottom: 30px;
    }

    .htw-banner, .htw-photo{
        width: 100%;
    }

    .free-wrap{
        padding-top: 50px;
        padding-bottom: 50px;
        flex-direction: column;
    }

    .free-content{
        width: 100%;
    }

    .free-title{
        font-size: 25px;
        text-align: center;
    }

    .form-group-wrap{
        flex-direction: column;
        margin-bottom: 0;
    }
    
    .form-group{
        margin-right: 0;
    }

    .free-input{
        width: 100%;
        margin-bottom: 30px;
    }

    .form-check-button{
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .steps-wrap {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }

    .steps-top, .steps-bottom{
        margin-bottom: 0;
        flex-direction: column;
    }

    .step{
        width: 100%;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .step-number{
        margin-right: 0;
    }

    .steps-bottom {
        margin-left: 0;
    }

    .cost{
        margin-bottom: 50px;
    }

    .cost-wrap{
        max-height: 100%;
        position: unset;
    }

    .cost-form {
        position: unset;
        top: 0;
        left: 0; 
        max-width: 100%;
        background: #222222;
        width: 100%;
    }

    .form-inner {
        padding: 20px;
    }

    .label-wrap{
        margin-bottom: 0;
        flex-direction: column;
    }

    .form-block{
        max-width: 100%;
    }

    .form-check{
        margin-bottom: 0;
        align-items: none;
        width: 100%;
    }

    .recommended {
        margin-bottom: 50px;
    }

    .recommender-title{
        font-size: 25px;
        text-align: center;
    }

    .recommended-inner-content{
        flex-direction: column;
    }

    .recommended-info-photo{
        margin-right: 0;
        margin-bottom: 30px;
    }

    .recommended-info-text{
        text-align: center;
        width: 100%;
    }

    .card-title{
        font-size: 25px;
        margin-bottom: 30px;
    }

    .card-list-inner{
        flex-direction: column;
    }

    .list-top, .list-bottom{
        margin-bottom: 0;
        margin-right: 0;
    }

    .list-top-item{
        margin-bottom: 30px;
    }

    .map{
        margin-bottom: 50px;
    }

    .map-wrap{
        flex-direction: column;
    }

    .map-content{
        margin-right: 0;
    }

    .map-title{
        text-align: center;
    }

    .map-text{
        font-size: 25px;
        text-align: center;
    }

    .map-phone, .map-mail{
        margin-bottom: 30px;
        text-align: center;
    }
    
    .map-frame{
        width: 100%;
        max-height: fit-content;
    }

    .social-block{
        justify-content: space-around;
    }

    .social-icon{
        margin-right: 0;
    }

    .map-bottom-text{
        text-align: center;
    }

    .adress-block{
        justify-content: center;
        margin-bottom: 30px;
    }

    .footer-logo{
        display: none;
    }

    .footer-list {
        display: flex;
        flex-direction: column;
    }

    .footer-list-item{
        margin-bottom: 10px;
    }

    .popup-link{
        font-size: 20px;
    }

    

        
}
